html, body {
    height: 100%;
    margin: 0;
    background: #7a9290;
    color: #0e4641;
    font-family: 'Nunito Sans', sans-serif;
  }
.header{
    background: #fff;
    overflow: auto;
    margin: 0px 0px 45px;
}
h1{
    font-size: 20px;
    background: #0e4641;;
    color: #fff;
    width: 300px;
    float: left;
    margin: 0px 0px 0px 142px;
    padding: 20px;
    text-align: center;
}
h2{
    font-size: 30px;
    color: #0e4641;;
}
h3{
    font-size: 25px;
    color: #0e4641;;
}
.nav{
    float: left;
    width: 300px;
    font-size: 20px;
    margin: 0px 100px 0px 460px;
    text-align: center;
    padding: 20px;
    color: #0e4641;
}
.footer{
    background: #0e4641;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    border-top: solid 8px #ffffff;
}
.container{
    height:100%;
    margin: 0 auto -50px;
}
.main{
    width: 80%;
    margin: auto; 
    position: relative;
}
.box1{
    width: 650px;
    background: #fff;
    padding: 20px;
    overflow: auto;
    border-radius: 5px;
}
.box2{
    width: 300px;
    padding: 20px 10px 10px;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 20px;
    text-align: center;
    border-radius: 5px;
}
.bar{
    border-top: solid 4px #666;
    margin: 20px 0px;
}
.myPic {
    width: 293px;
    height: 340px;
    margin: 0px 10px 10px 0px;
    float:left;
    border-radius: 5px;
}
.icon {
    margin: 10px;
}
.icon:hover {
    opacity: 0.7;
    cursor: pointer;
}
#A,#B,#C{
    width:100%;
    border-radius:5px;
    font-size:17px;  
    font-weight: bold;
    margin: 10px 0px;  
}
#D{
    background-color: #0e4641;;
    color: white;
    padding: 15px 30px;
    font-size: 15px;  
    border-radius: 5px;  
}
.gallery{
    position: relative;
    display: inline-block;
    margin: 20px;
}
.cover{
    position: absolute;
    left: 0px;
    bottom: 61.5px;
    width: 100%;
    padding:20px 0px;
    text-align: center;
    font-size: 18px;
    color:#fff;
    background: #0e4641a2;
}









